<div class="container">
	
	<h3> Your task : </h3>

		<p><%= @task.description %></p>

	<h3> And it's due on : </h3>

		<p><%= @task.due %></p>

	<h3> Your progress : </h3>

	<p><%= @task.progress %></p>


	<%= link_to 'edit', edit_task_path(id: @task.id) %>
	
</div>